body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 217, 176);
}

main {
    background-color: rgb(170, 167, 162);
}

.container__um , .container__dois , .container__tres  , .container__quatro , .container__cinco , .container__seis{
    display: flex;
    border: 2px solid black;
}

.container__um {
    justify-content: flex-start;
}

.container__dois {
    justify-content: flex-end;
}

.container__tres {
    justify-content: center;
}

.container__quatro {
    justify-content: space-between;
}

.container__cinco {
    justify-content: space-around;
}

.container__seis {
    justify-content: space-evenly;
}

.um , .quatro , .sete , .dez , .treze, .dezeseis {
    background-color: blueviolet;
    width: 200px;
    height: 100px;
}

.dois , .cinco , .oito, .onze , .quatorze, .dezesete {
    background-color: yellowgreen;
    width: 200px;
    height: 100px;
}

.tres , .seis , .nove , .doze , .quinze , .dezoito {
    background-color: red;
    width: 200px;
    height: 100px;
}