body {
    background-color: blanchedalmond;
}

#d1 , #d2 {
    margin: 0 auto;
    padding: 2px;
}

#d1 {
    width: 250px;
    height: 250px;
    background-color: blue;
    border-style: solid;
    border-width: 10px;
    border-color: orange;
}

#d2 {
    width: 250px;
    height: 250px;
    background-color: blue;
    border-color: orange;
    border-style: solid;
    border-width: 10px;
    margin-top: 10px;
}