#dv1{
    width: 270px;
    height: 270px;
    border: 1px solid red;

    transform: rotateY(45deg);
    background-color: orangered;
    color: black;
    text-align: center;
}

body{
    perspective: 1640px;
}