body {
    background-color: rgb(242, 206, 160);
}

p {
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    width: 1100px;
    height: 130px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    background-color: rgb(243, 243, 121);
    font-size: 20px;
   
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
   
    column-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;

    column-rule: 10px outset blueviolet;
    -webkit-column-rule: 10px outset blueviolet;
    -moz-column-rule: 10px outset blueviolet;
}