body {
    margin: 0px;
    background-color: rgb(190, 190, 184);
}

h1 {
    text-align: center;
}

.links__position {
    color: black;
    padding: 0px;
    margin: 0px;
    display: table-cell;
    text-align: center;
    width: 344px;
    font-size: 38px;
    vertical-align: middle;
    background-color: rgb(138, 50, 50);
}

#obmenu {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.links__position:hover {
    background-color: rgb(217, 227, 197);
}