body {
    background-color: rgb(64, 165, 111);
}

p {
    width: 250px;
    height: 50px;
    border: 3px solid rgb(31, 31, 32);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: width 2s, height 2s, backgrond-color 2s, color 2s;
    transition-timing-function: linear;
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
    background-color: aliceblue;
}

p:hover {
    width: 350px;
    height: 55px;
    background-color: yellow;
    color: black;
    text-align: center;
    cursor: pointer;
}