body {
    background-color: azure;
}

ul {
    list-style-image: url(../img/cang.jpg); 
    font-size: 25px;
    list-style-position: outside; 
    border: 1px black solid;
    
}

ol {
    list-style-type: circle;
    font-size: 25px;
    list-style-position: inside;  
}

li {
    border: 1px black solid;
}