body {
    background-color: rgb(153, 216, 216);
}

p {
    font-size: 30px;
    text-align: center;
}

P::first-letter {
    font-size: 40px;
    color: green;
}

h3::first-line {
      background:blue;
}

h3 {
    text-align: center;
}

::selection {
    color: orangered;
    background: yellowgreen;
}

