body {
    background-color: rgb(225, 192, 149);
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

div {
    border: 2px solid black;
    background-color: tomato;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-left: 46%;
}

ol, ul, li {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 300px;
    height: 70px;
    vertical-align: middle;
}

ol {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}

ul {
    display: table-row;
}

li {
    display: table-cell;
}

.titulo {
    background-color: turquoise;
    font-weight: bold;
}

.conteudo {
    background-color: rgb(167, 223, 93);
}