body {
    background-color: rgb(59, 89, 89);
}

p::before {
    content: "Nome : ";
    color: rgb(194, 164, 164);
}

p::after {
    content:" - FIM";
}

p {
    font-size: 30px;
    color: white;
    text-align: center;
}