div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    
}

#d1{
    border: 1px solid orange;
    outline-color: blueviolet;
    outline-style: solid;
    outline-width: 5px;
    margin: 5px;
}
#d2{
    outline: black solid 5px;
    margin: 5px;
}

body{
    background-color: burlywood;
}