body {
    background-color: blanchedalmond;
}

#d1 {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    overflow: auto;
    margin: 0 auto;
}

#img1 {
    border: 3px solid yellowgreen;
}