body {
    background: rgb(141, 141, 212);
}

h1 {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(247, 247, 51);
    text-align: center;
}