section{
    border: 3px solid red;
    display: flex;
    
    
}

div{
    border: 1px solid black;
    /*flex: 1px; */
    text-align: center;
    flex-shrink: 1;
}

#d1{
   order:1;
   width: 100px;
   flex-grow: 1;
}

#d2{
    order:2;
    width: 100px;
}

#d3{
    order:3;
    width: 100px;
    flex-basis: 30%;
}

#d4{
    order:4;
    width: 100px;
}
#d5{
    order:5;
    width: 100px;
}

#d6{
    order:6;
    width: 100px;
    flex-grow: 1;
}