nav{
    background-color: orangered;
    text-align: right;
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    width: 80px;
    display: flex; 
    align-items: center;
    justify-content: center;
}



section{
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;  
}

section div{
    border: 1px solid black;
    flex: 1;
    margin: 5px;
    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
}

div{
    border: 1px solid red;
    /*flex: 1px; */
    text-align: center;
    
    text-align: left;
    flex-grow: 1;
    display: inline-block;
    display: flex;
}


footer{
    background-color: rgb(128, 122, 122);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 30px;
}