h3{
    font-size: 45pt;
    color: red;
    text-shadow: 5px 5px 5px black;
}
#div1{
    width: 300px;
    height: 300p;
    border: 1px solid black;
    box-shadow: 10px 10px 10px #888;
    text-align: center;
}